<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styleregister.css">
    <script src="/static/js/appregister.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>Registro de Usuarios </h1>
    <form>
        <label> Identificación </label> <input> <br/> <br/>
        <labe> Nombre </labe> <input> <br/><br/>
        <label> Apellido </label> <input> <br/><br/>
        <label> Fecha de Nacimiento </label> <input> <br/><br/>
        <button onclick="register_user()"> Registro</button>
    </form>
</body>
</html>